/*  NAV Bar*/
h1,a{
  color: #ffffff;
  font-family: 'quicksand', sans-serif;
  font-weight: 400;
}

.navbar {
  background-color: rgb(77, 77, 77);
  height: 75px;
}

.nav.navbar-nav.navbar-right li a {
    color: #ffffff;
    background-color: rgb(77,77,77);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #e71bff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-color:rgb(77, 77, 77);
}

.dropdown-menu{
  background-color: rgb(77, 77, 77);
}

/* small screen */
@media (min-width:768px){

}

/* md screen */
@media (min-width:992px) {

}

/*  large screen */
@media (min-wdth:1200px){

}
/* end navbar */

/* begin carousel */
.carousel {
  height: 19em;
  background-color: #8697a6;
}
.carousel-caption{
  text-align: center;
}
/* end carousel */

/* footer begin */
footer{
  background-color: #595959;
  height: 6em;
}
.copyright-info{
  text-align: center;
  color: #262523;
}
.sm-icon{
  padding-bottom: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tweet-icon{
  color: #1DA1F2;
}
.insta-icon{
  color: #262626;
}
.fb-icon{
  color: #4867AA;
}
/* footer end */
